header {
    background-color: black;
}

.display-4 {
    text-align: center;
    font-family: 'Jolly Lodger', cursive;
}

.lead {
    text-align: center;
    font-family: 'Jolly Lodger', cursive;
    font-size: 30px;
}

body {
    background-color: black;
    color: red;
    text-align: center;
    font-family: 'Jolly Lodger', cursive;
    font-size: 30px;
}

p {
    font-size: 30px;
    color: red;
    font-family: 'Jolly Lodger', cursive;
}
